[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-cors-headers = "*"
django-swagger-ui = "*"
djangorestframework = "*"
django-rest-swagger = "*"
drf-yasg = "*"
drf-spectacular = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.10"
